annotated-types
asttokens
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cycler
cymem
debugpy
decorator
executing
filelock
fonttools
fsspec
gensim
google-play-scraper
greenlet
huggingface-hub
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
murmurhash
nest-asyncio
networkx
nltk
numpy
packaging
pandas
parso
pillow
platformdirs
pluggy
preshed
prompt_toolkit
psutil
psycopg2-binary
pure_eval
pydantic
pydantic_core
Pygments
pyparsing
pytest
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
setuptools
six
smart_open
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
sympy
thinc
threadpoolctl
tokenizers
torch
tornado
tqdm
traitlets
transformers
typer-slim
typing-inspection
typing_extensions
tzdata
urllib3
wasabi
wcwidth
weasel
wordcloud
wrapt
